@model SistemaTurnos.Models.TipoPermiso

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>TipoPermiso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VDescripcionPermiso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VDescripcionPermiso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdTipoPermiso }) |
    @Html.ActionLink("Volver a la Grilla", "Index")
</p>
