@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Sistema Turnos Proyecto Integración 2</h2>
    <p class="lead">Pueden ingresar al sitio en la nube de Azure en la siguiente url: https://sisturnosaduana.azurewebsites.net </p>
    <p class="lead">👇 Pueden consultar el código de la aplicación en github, dándole click al botón de abajo.</p>
    <p><a href="https://github.com/AshWilliams/SistemaTurnosAduana" class="btn btn-primary btn-lg">Repositorio en Github</a></p>
</div>

