@model SistemaTurnos.Models.CalidadJuridica

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>CalidadJuridica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VTipoCalidadJuridica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VTipoCalidadJuridica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdCalidadJuridica }) |
    @Html.ActionLink("Volver a la Grilla", "Index")
</p>
